<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # No reescribir archivos o directorios existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Reescribir todo a index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
